In [85]:
# Завдання 1 ствр data
import pandas as pd

# Створення списків з даними
Stud = ['Іван Бобильов', 'Дональд Трамп', 'Ані Лорак', 'Анджей Дуда', 'Емінем',
        'Джозеф Байден', 'Володимир Зеленський', 'Валерій Залужний', 'Райан Рейнольдс', 'Михайло Федоров',
        'Ден Рейнольдс', 'Андрій Єрмак', 'Меган Фокс', 'Едді Мерфі', 'Анджеліна Джолі']

Aver = [4.8, 3.2, 3.3, 4.3, 4.6, 4.0, 4.8, 4.7, 4.0, 4.0, 3.4, 3.3, 3.9, 4.1, 3.3]

Grade = [96, 56, 46, 86, 92, 80, 96, 94, 84, 80, 64, 48, 58, 82, 60]

try_ex = [1, 2, 3, 3, 1, 2, 1, 1, 1, 1, 2, 2, 2, 3, 3]

In [86]:
df = pd.DataFrame({
    'Student': Stud,
    'Average': Aver,
    'Exam Grade': Grade,
    'Attempt Count': try_ex
})

print(df)

                 Student  Average  Exam Grade  Attempt Count
0          Іван Бобильов      4.8          96              1
1          Дональд Трамп      3.2          56              2
2              Ані Лорак      3.3          46              3
3            Анджей Дуда      4.3          86              3
4                 Емінем      4.6          92              1
5          Джозеф Байден      4.0          80              2
6   Володимир Зеленський      4.8          96              1
7       Валерій Залужний      4.7          94              1
8        Райан Рейнольдс      4.0          84              1
9        Михайло Федоров      4.0          80              1
10         Ден Рейнольдс      3.4          64              2
11          Андрій Єрмак      3.3          48              2
12            Меган Фокс      3.9          58              2
13            Едді Мерфі      4.1          82              3
14       Анджеліна Джолі      3.3          60              3

In [87]:
# Завдання 2. Додавання стовпця Admission
df['Admission'] = ['Допуск' if grade > 61 else 'Незараховано' for grade in df['Exam Grade']]

print(df)

                 Student  Average  Exam Grade  Attempt Count     Admission
0          Іван Бобильов      4.8          96              1        Допуск
1          Дональд Трамп      3.2          56              2  Незараховано
2              Ані Лорак      3.3          46              3  Незараховано
3            Анджей Дуда      4.3          86              3        Допуск
4                 Емінем      4.6          92              1        Допуск
5          Джозеф Байден      4.0          80              2        Допуск
6   Володимир Зеленський      4.8          96              1        Допуск
7       Валерій Залужний      4.7          94              1        Допуск
8        Райан Рейнольдс      4.0          84              1        Допуск
9        Михайло Федоров      4.0          80              1        Допуск
10         Ден Рейнольдс      3.4          64              2        Допуск
11          Андрій Єрмак      3.3          48              2  Незараховано
12            Меган Фокс      3.9          58              2  Незараховано
13            Едді Мерфі      4.1          82              3        Допуск
14       Анджеліна Джолі      3.3          60              3  Незараховано

In [88]:
# Завдання 3. Виведення мін. сер балу
min_average = df['Average'].min()
print("Мінімальний середній бал: ", min_average)

max_average = df['Average'].max()
print("Максимальний середній бал: ", max_average)

mean_average = df['Average'].mean()
print("Середне для всіх середніх балів: ", mean_average)

median_average = df['Average'].median()
print("Медіанний середній бал: ", median_average)

Мінімальний середній бал:  3.2
Максимальний середній бал:  4.8
Середне для всіх середніх балів:  3.9799999999999995
Медіанний середній бал:  4.0

In [79]:
# Завдання 4 фільтрація 

passed_first_attempt_students = df[df['Attempt Count'] == 1]['Student']
print("Список студентів, які здали з першого разу:")
print(passed_first_attempt_students)

Список студентів, які здали з першого разу:
0           Іван Бобильов
4                  Емінем
6    Володимир Зеленський
7        Валерій Залужний
8         Райан Рейнольдс
9         Михайло Федоров
Name: Student, dtype: object

In [89]:
# Збереження стовпця "Exam Grade" у вигляді серії
Grade_series = df['Exam Grade']

print("Серія балів студентів:")
print(Grade_series)

Серія балів студентів:
0     96
1     56
2     46
3     86
4     92
5     80
6     96
7     94
8     84
9     80
10    64
11    48
12    58
13    82
14    60
Name: Exam Grade, dtype: int64